.footer li {
  list-style: none;
  bottom: 0;
  width: 50%;
  display: inline-block;
  text-align: left;
  padding: 0,0
}


#mainheading, #design {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  overflow: visible;
}
#mainthings, #process {
  background-color: White;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 40px;
    font-family: Helvetica;
    font-size: 18px;
    color: White;
    text-align: center;
}
#mainheading h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: White;
  text-align: center;
}
#process  h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
#process, #design  h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}
#process, #design  p {
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
}
#design h2 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: White;
  text-align: center;
}
#mainthings {
  text-align: center;
}
.site-footer ul {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

.site-footer ul {
  padding: 0 0;
}

.site-footer li {
  display: inline-block;
  list-style: none;
}

.site-footer a {
  color: inherit;
